aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    background-color: #fe5a4c;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 1fr;
    padding: 2rem;
}

.header svg {
    cursor: pointer;
    justify-self: end;
}

.personal-details,
.contact-details,
.work-exp,
.education, 
.skills,
.certifications {
    background-color: #fe5a4c;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 2rem;
}

.personal-details-header,
.contact-details-header,
.work-exp-header,
.education-header,
.skills-header,
.certifications-header {
    display: grid;
    grid-template-columns: 0.1fr 0.8fr;
    grid-template-rows: 1fr;
}

.header h1,
.personal-details-header > h2,
.contact-details-header > h2,
.work-exp-header > h2,
.education-header > h2,
.skills-header > h2,
.certifications-header > h2 {
    color: white;
}

.work-exp-header + div {
    width: 100%;
}

.experience-container,
.education-header + div,
.skills-group,
.certifications-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.education-group {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 0.45fr) 0.1fr;
    width: 100%;
}

/* Issue when adding another field, whole sidebar resizing */
.education-group > div {
    height: 100%;
    width: 35px;
}

.delete-wrapper {
    height: 100%;
    width: 35px;

    /* Center icon */
    align-items: center;
    display: flex;
    justify-content: center;
}

.skill-container,
.certification {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 0.9fr 0.1fr;
    width: 100%;
}

input, label {
    border-radius: 0.45rem;
    border-style: none;
    color: #757575;
    font-family: arial;
    font-size: 1rem;
    height: 3rem;
}

input,
textarea {
    padding: 0.5rem;
}

label {
    background-color: field;
    border-width: 0;
    padding-left: 0.5rem;

    /* Text */
    align-items: center;
    display: flex;
}


textarea {
    border-radius: 0.45rem;
    border-style: none;
    color: #757575;
    font-family: arial;
    font-size: 1rem;
    height: 150px;
    resize: none;
}

.name-container, 
.cell-location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;
}

svg path,
.work-exp-header svg,
.certifications-header svg {
    fill: #ffffff;
}

.header svg path,
.personal-details-header svg path {
    fill: none;
    stroke: #ffffff;
}

button {
    background-color: #dcdcdc;
    border-radius: 50%;
    border-width: 0px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 34px;
    width: 34px;
}

.work-exp button {
    margin-top: 0.75rem;
}